[submodule "aws/modules/terraform-aws-lambda"]
	path = aws/modules/terraform-aws-lambda
	url = git@github.com:terraform-aws-modules/terraform-aws-lambda.git
[submodule "aws/modules/terraform-aws-sqs"]
	path = aws/modules/terraform-aws-sqs
	url = git@github.com:terraform-aws-modules/terraform-aws-sqs.git
[submodule "aws/modules/terraform-aws-vpc"]
	path = aws/modules/terraform-aws-vpc
	url = git@github.com:terraform-aws-modules/terraform-aws-vpc.git
[submodule "aws/modules/terraform-aws-apigateway"]
	path = aws/modules/terraform-aws-apigateway
	url = git@github.com:terraform-aws-modules/terraform-aws-apigateway-v2.git
